.customcarousel{
    margin-top: 30px;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 20px 33px 20px 0px;
}
.arcmagetitle {
    margin: 15px 0 4px;
    font-family: 'Open Sans';
    font-size: 36px;
    color: #555555;
    font-weight: 700;
}
.slogan {
    display: block;
    clear: both;
    font-size: 11px;
    position: relative;
    top: 0px;
    font-family: Lato;
}

.nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 20px;
    width: 1170px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 86px; 
    padding-left: 15px;
    padding-right: 15px;
}


#login-dp {
    min-width: 250px;
    padding: 15px;
}

.row {
    padding-top: 0px;
    padding-bottom: 0px;
}

.carddropdown {
    width: 100%;
    text-align: left;
}

.cardinfopopup {
    margin-top: 6px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
