<td><a href="" data-content="{{card}}" data-content-template="Views/Home/Cards/CardPopupInfoTemplate.html" data-placement="auto right" data-trigger="hover" data-auto-close="1" bs-popover><span class="glyphicon glyphicon-info-sign"></span></a></td>
<td><a ui-sref="carddetail({ cardGuid: card.guid })">{{card.name}}</a></td>
<td>{{card.type.name}}</td>
<td>{{card.faction.name}}</td>
<td>{{card.cost}}</td>
<td>{{card.attack}}</td>
<td>{{card.defense}}</td>
<td>{{card.serie.name}}</td>
<td>{{card.creator.name}}</td>
<td>{{card.lastModifiedBy.name}}</td>
<td>{{card.lastModifiedTime}}</td>
<td>{{card.status.name}}</td>

