<div class="header">
    <div class="row">
        <form role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Cards" ng-model="cardSearchOptions.search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="searchClicked()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <button ng-click="addClicked()" ng-show="isLogedIn" class="btn btn-default btn-lg  pull-right">Create Your Own Card!</button>
        <h3 ng-hide="isLogedIn" class="pull-right">Log in to create your own Card!</h3>
    </div>
    <div class="row" ng-show="isAddOpen">
        <form class="form-inline pull-right" role="form">
            <div class="form-group">
                <input type="text" ng-disabled="isCreating" placeholder="Card Name" class="form-control first" id="cardName" ng-model="card.name">
            </div>
            <button type="submit" ng-disabled="isCreating" ng-click="createClicked()" class="btn btn-default">Create</button>
            <button type="reset" ng-disabled="isCreating" ng-click="addCancelClicked()" class="btn btn-default">Cancel</button>
            <span ng-class="{'loader' : isCreating }" ng-show="isAddOpen"></span>
        </form>
    </div>
</div>

<div class="row">
    <uib-pagination class="pull-right pagination-sm" total-items="totalItems" ng-model="cardSearchOptions.pageNumber" ng-disabled="isLoading" boundary-link-numbers="true" items-per-page="cardSearchOptions.pageSize" ng-change="searchClicked()"></uib-pagination>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Faction</th>
            <th>C</th>
            <th>A</th>
            <th>D</th>
            <th>Serie</th>
            <th>Creator</th>
            <th>Modified by</th>
            <th></th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="card in cards" card-list-item></tr>
        </tbody>
    </table>
    
</div>