<div class="header">
    <div class="row">
        <form role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Cards" ng-model="cardSearchOptions.search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="searchClicked()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div bs-collapse start-collapsed="true">
            <a class="btn-link pull-right" bs-collapse-toggle>advanced</a>
            <a class="btn-link pull-right clearsearch" ng-click="clearSearch()">clear</a>
            <div class="clearfix"></div>
            <div bs-collapse-target>
                <div class="col-md-4">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="card_type_dropdown" class="col-md-2 control-label">Type</label>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle carddropdown"
                                            id="card_type_dropdown"
                                            type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            ng-disabled="isLoading">
                                        {{cardSearchOptions.cardType.name}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu carddropdown" aria-labelledby="card_type_dropdown">
                                        <li><a ng-click="cardSearchOptions.cardType=null">&nbsp;</a></li>
                                        <li ng-repeat="cardType in cardOptions.cardTypes"><a ng-click="cardSearchOptions.cardType=cardType">{{cardType.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="card_dropdown" class="col-md-2 control-label">Faction</label>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle carddropdown"
                                            id="card_dropdown"
                                            type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            ng-disabled="isLoading">
                                        {{cardSearchOptions.faction.name}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu carddropdown" aria-labelledby="card_dropdown">
                                        <li><a ng-click="cardSearchOptions.faction=null">&nbsp;</a></li>
                                        <li ng-repeat="faction in cardOptions.factions"><a ng-click="cardSearchOptions.faction=faction">{{faction.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="cost" class="col-md-2 control-label">Cost</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="cost" placeholder="Cost" ng-model="cardSearchOptions.cost" ng-disabled="isLoading">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="card_loyalty" class="col-md-2 control-label">Loyalty</label>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle carddropdown"
                                            id="card_loyalty"
                                            type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            ng-disabled="isLoading">
                                        {{cardSearchOptions.loyalty}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu carddropdown" aria-labelledby="card_loyalty">
                                        <li><a ng-click="cardSearchOptions.loyalty=null">&nbsp;</a></li>
                                        <li ng-repeat="loyalty in cardOptions.loyalties"><a ng-click="cardSearchOptions.loyalty=loyalty">{{loyalty}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="card_serie" class="col-md-2 control-label">Serie</label>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle carddropdown"
                                            id="card_serie"
                                            type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            ng-disabled="isLoading">
                                        {{cardSearchOptions.serie.name}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu carddropdown" aria-labelledby="card_serie">
                                        <li><a ng-click="cardSearchOptions.serie=null">&nbsp;</a></li>
                                        <li ng-repeat="serie in cardOptions.series"><a ng-click="cardSearchOptions.serie=serie">{{serie.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="card_status" class="col-md-2 control-label">Status</label>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle carddropdown"
                                            id="card_status"
                                            type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            ng-disabled="isLoading">
                                        {{cardSearchOptions.status.name}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu carddropdown" aria-labelledby="card_status">
                                        <li><a ng-click="cardSearchOptions.status=null">&nbsp;</a></li>
                                        <li ng-repeat="status in cardOptions.statuses"><a ng-click="cardSearchOptions.status=status">{{status.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label for="card_ruleset" class="col-md-2 control-label">Ruleset</label>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle carddropdown"
                                            id="card_ruleset"
                                            type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            ng-disabled="isLoading">
                                        {{cardSearchOptions.ruleSet.name}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu carddropdown" aria-labelledby="card_ruleset">
                                        <li ng-repeat="ruleSet in cardOptions.ruleSets"><a ng-click="cardSearchOptions.ruleSet=ruleSet">{{ruleSet.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->


                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isLogedIn">
        <button ng-click="addClicked()"  class="btn btn-default btn-lg  pull-right">Create Your Own Card!</button>
    </div>

    <div class="row" ng-show="isAddOpen">
        <form class="form-inline pull-right" role="form">
            <div class="form-group">
                <input type="text" ng-disabled="isCreating" placeholder="Card Name" class="form-control first" id="cardName" ng-model="card.name">
            </div>
            <button type="submit" ng-disabled="isCreating" ng-click="createClicked()" class="btn btn-default">Create</button>
            <button type="reset" ng-disabled="isCreating" ng-click="addCancelClicked()" class="btn btn-default">Cancel</button>
            <span ng-class="{'loader' : isCreating }" ng-show="isAddOpen"></span>
        </form>
    </div>


<div class="row">
    <slick class="customcarousel" infinite="false" slides-to-show="4" touch-threshold="15" data="cards" init-onload="true" arrows="true" slides-to-scroll="1" swipe-to-slide="true">
        <div ng-repeat="card in cards"><div class="image"><img style="max-width: 95%" ng-src="{{card.jpeg}}" ng-show="card.jpeg" /></div></div>
    </slick>
    <uib-pagination class="pull-right pagination-sm" total-items="totalItems" ng-model="cardSearchOptions.pageNumber" ng-disabled="isLoading" boundary-link-numbers="true" items-per-page="cardSearchOptions.pageSize" ng-change="searchClicked()"></uib-pagination>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th><a href="" ng-click="sortOrderClicked('Name')">Name<span ng-show="cardSearchOptions.orderBy === 'Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Type.Name')">Type<span ng-show="cardSearchOptions.orderBy === 'Type.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Faction.Name')">Faction<span ng-show="cardSearchOptions.orderBy === 'Faction.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Cost')" style="text-align:center">C<span ng-show="cardSearchOptions.orderBy === 'Cost'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Loyalty')" style="text-align:center">L<span ng-show="cardSearchOptions.orderBy === 'Loyalty'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Attack')" style="text-align: center">A<span ng-show="cardSearchOptions.orderBy === 'Attack'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Defense')" style="text-align:center">D<span ng-show="cardSearchOptions.orderBy === 'Defense'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Serie.Name')">Serie<span ng-show="cardSearchOptions.orderBy === 'Serie.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Artist')">Artist<span ng-show="cardSearchOptions.orderBy === 'Artist'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Creator.Name')">Creator<span ng-show="cardSearchOptions.orderBy === 'Creator.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('LastModifiedTime')">Last edit<span ng-show="cardSearchOptions.orderBy === 'LastModifiedTime'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                <th><a href="" ng-click="sortOrderClicked('Status.Name')">State<span ng-show="cardSearchOptions.orderBy === 'Status.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="card in cards" card-list-item></tr>
        </tbody>
    </table>
  

</div>