<td><a href="" data-content="{{card}}" data-content-template="Views/Home/Cards/CardPopupInfoTemplate.html" data-placement="auto right" data-trigger="hover" data-auto-close="1" bs-popover><span class="glyphicon glyphicon-info-sign"></span></a></td>
<td><a ui-sref="carddetail({ cardGuid: card.guid })">{{card.name}}</a></td>
<td>{{card.type.name}}</td>
<td>{{card.faction.name}}</td>
<td style="text-align:center">{{card.cost}}</td>
<td style="text-align:center">{{card.loyalty}}</td>
<td style="text-align: center">{{card.attack}}</td>
<td style="text-align:center">{{card.defense}}</td>
<td>{{card.serie.name}}</td>
<td>{{card.artist}}</td>
<td>{{card.creator.name}}</td>
<td>{{card.lastModifiedTime | date:'yyyy-MM-dd'}}</td>
<td>{{card.status.name}}</td>

