<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.wtactics.org" target="_blank">WTactics</a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="cards">Cards</a></li>
                <li><a ui-sref="decks">Decks</a></li>
                <li><a href="http://wtactics.org/wiki/index.php?title=Original_Rules_Concept" target="_blank">ORC Rules</a></li>
                <li><a href="http://wtactics.org/wiki/index.php?title=Awesome_Rules_Concept" target="_blank">ARC Rules</a></li>
                <li><a href="http://wtactics.org/wiki/index.php?title=Main_Page" target="_blank">Wiki</a></li>
                <li><a href="http://wtactics.org/forum/" target="_blank">Forum</a></li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLogedIn"><p class="navbar-text" ><span class="glyphicon glyphicon-user"></span> <b ng-bind="user.name"></b></p></li>
                <li ng-show="isLogedIn"><a ng-click="logout()" href=""><span class="glyphicon glyphicon-log-out"></span><b> Logout</b></a></li>
                <li class="dropdown" ng-hide="isLogedIn">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span><b> Login</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" role="form" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="email" ng-model="login.email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" ng-model="login.password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="tryLogin(login)" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="bottom text-center">
                                    New here ? <a ui-sref="signup"><b>Join Us</b></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container body-content" ui-view></div>
