
<div class="row">
    <div class="col-md-12">
        <h1>{{deck.name}}</h1>
        <slick class="customcarousel" infinite="false" slides-to-show="4" touch-threshold="15" data="deck" init-onload="true" arrows="true" slides-to-scroll="1" swipe-to-slide="true">
            <div ng-repeat="deckcard in deck.deckCards"><div class="image"><img style="max-width: 95%" ng-src="{{deckcard.card.jpeg}}" ng-show="deckcard.card.jpeg" /></div></div>
        </slick>
        <a href="{{deck.zip}}" class="pull-right" target="_blank" ng-show="deck.isAvailable">Download Zip</a>
    </div>
</div>

<div class="row"  ng-show="!deck.isEditable">
    <div class="col-md-12">
        <h1>Cards</h1>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="deckcard in deck.deckCards" deck-card-list-item></tr>
            </tbody>
        </table>
        <uib-pagination class="pull-right pagination-sm" total-items="deck.deckCards.length" ng-model="cardSearchOptions.pageNumber" ng-disabled="isLoading" boundary-link-numbers="true" items-per-page="200"></uib-pagination>
    </div>
</div>

<div class="row" ng-show="deck.isEditable">
    <div class="col-md-6">
        <form role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Cards" ng-model="cardSearchOptions.search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="searchClicked()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="deck_name" placeholder="Name" ng-model="deck.name" ng-disabled="!deck.isEditable">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="deck_last_modified_on" placeholder="Last modified" ng-model="deck.lastModifiedTime" ng-disabled="true"/>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <button class="btn btn-default btn-lg pull-right"
                id="deck_generate"
                type="button"
                ng-show="deck.isEditable"
                ng-disbale="isGenerating"
                ng-click="generateDeck()">
            <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="isGenerating"></span>
            Generate Deck Pdf
        </button>
    </div>


</div>




<div class="row" ng-show="deck.isEditable">
    <div class="col-md-6">
        <uib-pagination class="pull-right pagination-sm" total-items="totalItems" ng-model="cardSearchOptions.pageNumber" ng-disabled="isLoading" boundary-link-numbers="true" items-per-page="cardSearchOptions.pageSize" ng-change="searchClicked()"></uib-pagination>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th><a href="" ng-click="sortOrderClicked('Name')">Name<span ng-show="cardSearchOptions.orderBy === 'Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th><a href="" ng-click="sortOrderClicked('Type.Name')">Type<span ng-show="cardSearchOptions.orderBy === 'Type.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th><a href="" ng-click="sortOrderClicked('Faction.Name')">Faction<span ng-show="cardSearchOptions.orderBy === 'Faction.Name'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th><a href="" ng-click="sortOrderClicked('Cost')" style="text-align:center">C<span ng-show="cardSearchOptions.orderBy === 'Cost'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th><a href="" ng-click="sortOrderClicked('Loyalty')" style="text-align:center">L<span ng-show="cardSearchOptions.orderBy === 'Loyalty'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th><a href="" ng-click="sortOrderClicked('Attack')" style="text-align: center">A<span ng-show="cardSearchOptions.orderBy === 'Attack'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th><a href="" ng-click="sortOrderClicked('Defense')" style="text-align: center">D<span ng-show="cardSearchOptions.orderBy === 'Defense'"> <span ng-class="{'glyphicon glyphicon-chevron-up' : cardSearchOptions.reverseOrder, 'glyphicon glyphicon-chevron-down' : !cardSearchOptions.reverseOrder}"></span></span></a></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in cards" deck-card-search-list-item></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <uib-pagination class="pull-right pagination-sm" total-items="deck.deckCards.length" ng-model="cardSearchOptions.pageNumber" ng-disabled="isLoading" boundary-link-numbers="true" items-per-page="200"></uib-pagination>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deckcard in deck.deckCards" deck-card-list-item></tr>
            </tbody>
        </table>
    </div>
</div>
